{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<h1>Dashboard</h1>


<table border="1" style="width:100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Expiry Date</th>
            <th>Expiry Time</th>
        </tr>
    </thead>
    <tbody>
        {% for host in hosts %}
        <tr>
            <td>{{ host.host }}</td>
            <td>{{ host.exp_date }}</td>
            <td>{{ host.exp_time }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No data available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}